@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
	--bg-color: #342E37;
	--fg-color: #FAFFFD;
	--nav-color: #3C91E6;
}

body {
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-size: 1.25em;
	/* Should I put that on :root? */
	font-family: 'IBM Plex Sans', sans-serif;
	margin: 0;
}

.navbar {
	/* font-family: 'JetBrains Mono', monospace; */
	display: flex;
	justify-content: flex-start;
	margin: 0;
	background-color: var(--nav-color);
}

.navbar>a {
	font-size: 1.1em;
	color: var(--fg-color);
	text-align: center;
	padding: 5px 20px;
	text-decoration: none;
}

.content-wrapper {
	margin: 20px;
}


/* Improve this selector later */
h1 {
	font-family: 'JetBrains Mono';
}

/* This one, also */
a {
	text-decoration: none;
	color: var(--nav-color);
}