.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  font-family: "Inter", sans-serif;
}

.Card {
  display: flex;
  flex-direction: column;
  /* background-color: #0d0e0f; */
  box-shadow: 0 0 5px 5px #0d0e0f;
  color: rgb(226, 226, 226);
  padding: 1rem;
  margin: 1rem;
  max-width: 800px;
  border-radius: 1.5rem;
}

.CardTitle {
  font-size: calc(18px + 3.3vw);
}

.CardBody {
  font-size: 1rem;
  font-weight: normal;
}

a {
  color: inherit;
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
